#body{
	background-color:GREEN;
	min-height:500px;
	}
.tittle{
	text-decoration: none;
	color: white;

}
.top{
	background-color:#F7F7F7;
	border-radius:20px;
	margin-top:60px;
	padding:10px;
	-webkit-box-shadow: 0 8px 6px -6px #B7BABB;
	   -moz-box-shadow: 0 8px 6px -6px #B7BABB;
	        box-shadow: 0 8px 6px -6px #B7BABB;
	}
.login{
	background-color:#F7F7F7;
	border-radius:20px;
	margin-top:20px;
	padding:10px;
	-webkit-box-shadow: 0 8px 6px -6px #B7BABB;
	   -moz-box-shadow: 0 8px 6px -6px #B7BABB;
	        box-shadow: 0 8px 6px -6px #B7BABB;
	}
.login img{margin-top:30px;}
.login form{margin-top:10px;}
.login form input[type="submit"]{
								width:100%;
								margin-bottom:40px;
								}
.login p{color:#BDBDBD;}

/* ======================== index.php =========================== */
.headSection .myhead{
					background-color:#4B6C9E;
					}
.headSection .myhead h3{
						font-weight:bold;
						color:#FFFFFF;
						}
.headSection .myhead .text-right{
								padding-top:16px;
								}
.headSection .myhead .text-right p{
								color:#FFFFFF;
								}	
.headSection .myhead .text-right p a{
								color:#FFFFFF;
								}	
.headSection .navbar-default {
    background-color: #0F375B;
    border-color: transparent;
}			
.navbar-default .navbar-left>li>a {
    color: #FFFFFF !important;
}
.navbar-default .navbar-left>li:hover a {
    background-color:transparent;
	border-bottom:3px solid #FFFFFF;
}
.navbar-default .navbar-left #menu:hover{background-color:#0F375B; color:#ffffff;}

.searchbox{

}

.ctn{
	background-color:#FFFFFF;
	min-height:460px;
	}
						

.signleTranscation, .multipleTransaction table{padding:0px;margin:0px;}
.signleTranscation, .multipleTransaction input[type="submit"]{
											width:100%;
											}
#innerTable {
 margin-right: 40px;
}
#innerTable a{
	text-decoration: none;
	color:#000;
}
.main{
	background-color:#F7F7F7;
	border-radius:20px;
	margin-top:10px;
	margin-bottom:30px;
	padding:10px;
	-webkit-box-shadow: 0 8px 6px -6px #B7BABB;
	   -moz-box-shadow: 0 8px 6px -6px #B7BABB;
	        box-shadow: 0 8px 6px -6px #B7BABB;
}			
.control p{color:grey;
			font-weight:bold;
			}		
						
					

.tbwo tr {background-color:green;}

#footer{height: 100px;
	color: #fff;}

/* Filter table*/
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;

}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
#clientprofile{
	background-color: #ffffff;
}
#tabs ul li, #clienttabs ul li {
	float: left;
	padding: 0;
	margin: 0 0 0 5px;
}
#tabs ul, #clienttabs ul {
	display: block;
	background-color: #fff;
	height: 23px;
	line-height: 22px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
	border-bottom: 1px solid #CCCCCC;
}
#tabs ul li a, #tabs ul li a:visited, #clienttabs ul li a, #clienttabs ul li a:visited {
	display: block;
	background-color: #efefef;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 0 10px;
	margin: 0;
	color: #000;
	text-decoration: none;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}