/* --------------------------------------------------------------
   GLOBAL
-------------------------------------------------------------- */
*{
    list-style:none;
}
body {
	background-color: #EEE;
	/*background-color: #1A4D80;*/
	margin: 0;
}
body, td, th, div, input, select, textarea {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
form {
	margin: 0;
	padding: 0;
}
a, a:visited {
	color: #202F60;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a img {
	border: 0;
}
a.highlight, a.highlight:visited, a.highlight:hover {
	color: #CC0000;
}
h1 {
	color: #666;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 20px 0;
}
h2 {
	color: #000;
	font-size: 16px;
	font-weight: normal;
	margin: 10px 0 15px 0;
}
h3 {
    font-size: 14px;
    font-weight: normal;
    color: #666;
	margin: 0 0 20px 0;
}

input {
    padding: 2px;
}
select {
    border: 1px solid #ccc;
    padding: 2px;
}

.left {
    float: left;
}
.right {
    float: right;
}

.topbar {
    padding: 0 15px;
	min-width:1170px;
    background-color: #EEE;
    height: 25px;
    line-height: 25px;
    color: #ccc;
}
.topbar a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.topbar a:hover {
    text-decoration: underline;
}
.topbar .date {
    color: #999999;
}

.footerbar {
    margin: 0;
    padding: 0 15px;
	min-width:1170px;
    height: 26px;
    background-color: #EEE;
	
    color: #000;
}
.footerbar a {
    color: #000;
}

.header {
    margin: 0;
    padding: 5px 0 0 0;
	min-width:1200px;
    height: 50px;
    background-color:inherit;
	 /*background-color: #1A4D80;*/
    text-align: left;
    border: 0;
}
.header .logo {
    position: absolute;
    top: 30px;
    left: 25px;
    padding: 0;
    margin: 0;
}
.header .stats {
    float: left;
    width: 780px;
    text-align: center;
    color: #000;
    font-size: 11px;
    padding: 15px 0 0 260px;
    margin: 0;
}
.header .stats a {
    text-decoration: none;
    color: #000;
}
.header .stats a:hover {
    text-decoration: underline;
}
.header .stats .stat {
    font-weight: bold;
    color: #000;
}

#sidebaropen {
    position: absolute;
    top: 200px;
    left: 0;
}

#sidebar {
    float: left;
    margin: 10px 0 40px 0;
    padding: 15px 10px 10px 10px;
    width: 175px;
    background-color: #F1F0E7;
    border: 4px solid #E2E0CD;
    border-left: 0;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}

#sidebar .controls {
    padding: 50px 0 0 0;
    font-size: 10px;
}

#sidebar span.header {
    display: block;
    margin: 0;
    padding: 0 0 5px 0;
    height: auto;
    min-width: 100px;
    background-color: #F1F0E7;
    border: 0;
    text-align: left;
    font-weight: bold;
}

#sidebar ul.menu {
	list-style-type: none;
	margin: 0 0 15px 0;
	padding: 0;
	border-top: 0;
}

#sidebar ul.menu li {
    padding: 1px 0 1px 10px;
}

#sidebar input {
    margin: 0 0 5px 0;
    width: 80%;
}
#sidebar select {
    margin: 0 0 5px 0;
    width: 95%;
}
#sidebar input[type="submit"] {
    width: auto;
}

.contentarea {
    margin: 10px 10px;
    padding: 15px;
	min-width: 943px;
    min-height: 600px;
    background-color: #DDD;
    border: 4px solid #E2E7E9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

#popupcontainer {
    display: none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    text-align:center;
    padding-top: 150px;
    z-index: 10;
}

#mynotes {
    display: none;
    width: 600px;
    margin: 0 auto 0 auto;
    padding: 0;
    border: 15px solid #fff;
    background-color: #fff;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
#mynotesbox {
    width: 560px;
    height: 300px;
    border: 10px solid #E2E7E9;
    padding: 10px;
    margin: 15px 0 15px 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.homebox {
    margin: 0 0 15px 0;
    padding: 5px;
    background-color: #fff;
    border: 2px solid #E2E7E9;
}

.contextbar {
    margin: 0;
    padding: 10px;
    background-color:#666;
    font-size: 14px;
    color: #fff;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.contexthelp {
    float: right;
    margin: 0;
    padding: 5px 20px;
    border: 1px solid #FBEB20;
    background-color: #FFFFD5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.contexthelp a {
    color: #000;
}

/* --------------------------------------------------------------
   BUTTONS
-------------------------------------------------------------- */

input[type="button"], input[type="submit"], input[type="reset"], .btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
.btn-small {
  padding: 2px 9px !important;
  font-size: 11px !important;
  line-height: 16px !important;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
input[type="button"].btn-primary,
input[type="button"].btn-primary:hover,
input[type="button"].btn-warning,
input[type="button"].btn-warning:hover,
input[type="button"].btn-danger,
input[type="button"].btn-danger:hover,
input[type="button"].btn-success,
input[type="button"].btn-success:hover,
input[type="button"].btn-info,
input[type="button"].btn-info:hover,
input[type="button"].btn-inverse,
input[type="button"].btn-inverse:hover,
input[type="submit"].btn-primary,
input[type="submit"].btn-primary:hover,
input[type="submit"].btn-warning,
input[type="submit"].btn-warning:hover,
input[type="submit"].btn-danger,
input[type="submit"].btn-danger:hover,
input[type="submit"].btn-success,
input[type="submit"].btn-success:hover,
input[type="submit"].btn-info,
input[type="submit"].btn-info:hover,
input[type="submit"].btn-inverse,
input[type="submit"].btn-inverse:hover,
input[type="reset"].btn-primary,
input[type="reset"].btn-primary:hover,
input[type="reset"].btn-warning,
input[type="reset"].btn-warning:hover,
input[type="reset"].btn-danger,
input[type="reset"].btn-danger:hover,
input[type="reset"].btn-success,
input[type="reset"].btn-success:hover,
input[type="reset"].btn-info,
input[type="reset"].btn-info:hover,
input[type="reset"].btn-inverse,
input[type="reset"].btn-inverse:hover,
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
input[type="button"].btn-primary.active,
input[type="button"].btn-warning.active,
input[type="button"].btn-danger.active,
input[type="button"].btn-success.active,
input[type="button"].btn-info.active,
input[type="button"].btn-inverse.active,
input[type="submit"].btn-primary.active,
input[type="submit"].btn-warning.active,
input[type="submit"].btn-danger.active,
input[type="submit"].btn-success.active,
input[type="submit"].btn-info.active,
input[type="submit"].btn-inverse.active,
input[type="reset"].btn-primary.active,
input[type="reset"].btn-warning.active,
input[type="reset"].btn-danger.active,
input[type="reset"].btn-success.active,
input[type="reset"].btn-info.active,
input[type="reset"].btn-inverse.active,
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
input[type="button"].btn-primary, input[type="submit"].btn-primary, input[type="reset"].btn-primary, .btn-primary {
  background-color: #0074cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0055cc;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #004099 \9;
}
input[type="button"].btn-warning, input[type="submit"].btn-warning, input[type="reset"].btn-warning, .btn-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
input[type="button"].btn-danger, input[type="submit"].btn-danger, input[type="reset"].btn-danger, .btn-danger {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
input[type="button"].btn-success, input[type="submit"].btn-success, input[type="reset"].btn-success, .btn-success {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
input[type="button"].btn-success:hover,
input[type="button"].btn-success:active,
input[type="button"].btn-success.disabled,
input[type="button"].btn-success[disabled],
input[type="submit"].btn-success:hover,
input[type="submit"].btn-success:active,
input[type="submit"].btn-success.disabled,
input[type="submit"].btn-success[disabled],
input[type="reset"].btn-success:hover,
input[type="reset"].btn-success:active,
input[type="reset"].btn-success.disabled,
input[type="reset"].btn-success[disabled],
.btn-success:hover,
.btn-success:active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
input[type="button"].btn-info, input[type="submit"].btn-info, input[type="reset"].btn-info, .btn-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
input[type="button"].btn-inverse, input[type="submit"].btn-inverse, input[type="reset"].btn-inverse, .btn-inverse {
  background-color: #414141;
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

/* --------------------------------------------------------------
   INTELLIGENT SEARCH
-------------------------------------------------------------- */

.intellisearch {
    position: absolute;
    top: 0;
    right: 0;
    margin: 48px 20px;
    text-align: right;
}
.intellisearch #intellisearchval {
    margin: 0;
    padding: 4px 10px 4px 25px;
    border: 2px solid #ffcc00;
    width: 130px;
    background-image: url('../../images/icons/search.png');
    background-repeat: no-repeat;
    background-position: 5px 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.intellisearch #intellisearchval:focus {
    border: 2px solid #DEB101;
}
#searchresults .close {
    padding: 4px 10px 2px;
    text-align: right;
    color: #000;
    font-size: 10px;
}
#searchresults {
    display: none;
    position: absolute;
    top: 82px;
    right: 0;
    width: 450px;
    margin: 0;
    padding: 3px;
    font-size: 12px;
    border: 5px solid #fff;
    border-right: 1px solid #fff;
    background-color: #fff;
    text-align: left;
    z-index: 10;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    -moz-box-shadow: 0px 0px 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -o-box-shadow: 0px 0px 5px #ccc;
    box-shadow: 0px 0px 5px #ccc;
}
#searchresultsscroller {
    max-height: 400px;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
#searchresults .searchresultheader {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #000;
}
#searchresults .searchresult {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2px 5px 2px 8px;
    margin: 0 5px 2px 0;
    font-size: 11px;
    overflow: hidden;

}
#searchresults .searchresult .label {
    float: right;
    right: 5px;
    margin: 6px 5px 0 5px;
    z-index: 500;
}
#searchresults .searchresult .desc {
    width: 200px;
    color: #888;
    overflow: hidden;
}
#searchresults .searchresult:hover {
    background-color: #f8f8f8;
    border: 1px dashed #666;
}
#searchresults .searchresult a {
    text-decoration: none;
    display: block;
}

#clientsearchresults {
    background-color: #fff;
	border: 1px solid #ccc;
	padding: 3px;
	margin: 0;
	white-space: nowrap;
    font-size: 11px;
    font-family: Tahoma;
}
#ticketclientsearchresults {
    position: absolute;
    width: 300px;
    background-color: #fff;
	border: 1px solid #ccc;
	padding: 3px;
	margin: 0 10px 0 0;
	display: none;
	white-space: nowrap;
    font-size: 11px;
    font-family: Tahoma;
}
#clientsearchresults .searchresultheader, #ticketclientsearchresults .searchresultheader {
    background-color:#ccc;
    padding:2px;
    font-weight:bold;
    text-align:center;
}
#clientsearchresults .searchresult, #ticketclientsearchresults .searchresult {
    background-color:#f4f4f4;
    border-top: 3px solid #fff;
    padding: 2px 0 2px 5px;
}
#clientsearchresults .searchresult .desc, #ticketclientsearchresults .searchresult .desc {
    color: #888;
}
#clientsearchresults .searchresult:hover, #ticketclientsearchresults .searchresult:hover {
    background-color: #fff;
}
#clientsearchresults .searchresult a, #ticketclientsearchresults .searchresult a {
    text-decoration: none;
    display: block;
}
#clientsearchcancel {
    display: none;
}

/* --------------------------------------------------------------
   NAVIGATION
-------------------------------------------------------------- */

.navigation {
    margin:0px;
    padding:0px;
	min-width:1200px;
    height:35px;
    background-color: #EEE;
	/*background-color: #1A4D80;*/
    border: 0;
    border-bottom: 10px solid #fff;
}
.navigation ul {
    padding: 0 0 0 275px;
    margin: 0;
    border: 0;
    min-width: 765px;
    float:left;
    position:relative;
    text-align:center;
}
.navigation ul li {
    background-color:#111;
	/*background-color:#2162A3;*/
    padding:0;
    margin:0 0 0 5px;
    height:34px;
    width:80px;
    line-height:34px;
    text-align:center;
    float:left;
    position:relative;
    cursor: hand;
    cursor: pointer;
    text-decoration:none;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.navigation ul li:hover {
    background-color:#E9F0FE;
    text-decoration:none;
}
.navigation ul li a:hover {
    display:block;
}
.navigation ul li a {
    color:#FFF;
    text-decoration:none;
    font-size: 12px;
    font-weight: bold;
    font-family: Tahoma;
}
.navigation ul li ul {
    position:absolute;
    display:none;
    padding: 0;
    margin: 0;
    float:none;
    width:170px;
    min-width:0;
    background-color:#000;
    border:5px solid #3399ff;
	/*background-color:#2162A3;
    border:5px solid #2162A3;*/
    z-index: 100;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.navigation ul li:hover ul, .navigation ul li:hover ul li:hover ul {
    position:relative;
    display:block;
    float:none;
}
.navigation ul li ul li {
    /* ie7 fix for menu item height */
    font-size:0;
    line-height:0;
    /* ie7 fix for menu item height */
    padding: 0;
    margin: -1px 0 0 0;
    width:170px;
    height:20px;
    text-decoration:none;
    font-weight: normal;
    text-align:left;
    display:block;
    float:none;
    background-color:#000;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.navigation ul li ul li.expand {
    background-image:url('images/menuexpand.png');
    background-repeat:no-repeat;
    background-position:155px 6px;
}
.navigation ul li:hover ul li ul {
    display:none;
}
.navigation ul li ul li a, .navigation ul li:hover ul li a, .navigation ul li ul li:hover ul li a {
    margin: 0;
    padding: 0 0 0 10px;
    font-family:Tahoma;
    font-size:11px;
    line-height:20px;
    font-weight:normal;
    text-decoration:none;
    color:#fff;
    display:block;
}
.navigation ul li ul li ul {
    display:none;
    margin: -25px 0 0 170px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    -o-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
}
.navigation ul li:hover a, .navigation ul li ul li:hover a, .navigation ul li ul li:hover ul li:hover a {
    color:#000;
}

/* --------------------------------------------------------------
   TABS
-------------------------------------------------------------- */

#tabs ul, #clienttabs ul {
	display: block;
	background-color: #fff;
	height: 23px;
	line-height: 22px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
    border-bottom: 1px solid #CCCCCC;
}
#tabs ul li, #clienttabs ul li {
	float: left;
	padding: 0;
	margin: 0 0 0 5px;
}
#tabs ul li a, #tabs ul li a:visited, #clienttabs ul li a, #clienttabs ul li a:visited {
	display: block;
	background-color: #efefef;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
	padding: 0 10px;
	margin: 0;
	color: #000;
	text-decoration: none;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
#tabs ul li a:hover, #clienttabs ul li a:hover {
	background-color: #EDF1F8;
	color: #000;
	text-decoration: underline;
}
#tabs ul li.tabselected a, #tabs ul li.tabselected a:visited, #tabs ul li.tabselected a:hover, #clienttabs ul li.tabselected a, #clienttabs ul li.tabselected a:visited, #clienttabs ul li.tabselected a:hover {
	background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    color: #000;
	font-weight: bold;
}
#tab_content {
	background-color: #fff;
	text-align: left;
	margin: 0px;
	padding: 10px;
	border: 1px solid #CCC;
    border-top: 0;
    text-align: center;
}

/* --------------------------------------------------------------
   TABLES
-------------------------------------------------------------- */

table.form {
	background-color: #fff;
	padding: 0px;
	border: 3px solid #E2E7E9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
table.form td {
	font-size: 12px;
}
table.form td.fieldlabel {
	background-color: #CCC;
    text-align: right;
}
table.form td.fieldarea {
	background-color: #efefef;
    text-align: left;
}
table.datatable {
	padding: 0;
	margin: 0;
}
table.datatable th {
	background-color: #000;
	font-weight: bold;
	text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
table.datatable td {
	background-color: #EEE;
	border-bottom: 1px solid #EBEBEB;
	font-size: 12px;
}
table.datatable tr.rowhighlight td {
	background-color: #E0E8F3;
}
table.datatable tr:hover td {
	background-color: #EFF2F9;
}
table.datatable th, table.datatable th a, table.datatable th a:visited {
	color: #FFF;
	text-decoration: none;
}
table.datatable th a:hover {
	color: #FFF;
	text-decoration: underline;
}
table.datatable tr:hover td {
	background-color: #F3F3F3;
}

/* --------------------------------------------------------------
   SPECIAL CLASSES
-------------------------------------------------------------- */

.absmiddle {
	vertical-align: middle;
    margin-bottom: .25em;
}
.clear {
	clear: both;
}
.smallfont {
	font-size: 10px;
}

/* --------------------------------------------------------------
   INFO BOXES
-------------------------------------------------------------- */

.infobox span.title, .successbox span.title, .errorbox span.title {
    font-family: Trebuchet MS,Tahoma;
    font-size: 16px;
    font-weight: bold;
}
.infobox {
	background-image: url('../../images/info.png');
	background-repeat: no-repeat;
	background-position: 5px;
	margin: 10px 5px 10px 5px;
	padding: 6px 10px 6px 45px;
    min-height: 28px;
	background-color: #FAF6D4;
	border: 1px solid #E6C26E;
    color: #000;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.infobox span.title {
    color: #BE8007;
}
.successbox {
	background-image: url('../../images/success.png');
	background-repeat: no-repeat;
	background-position: 5px;
	margin: 10px 5px 10px 5px;
	padding: 6px 5px 6px 45px;
    min-height: 28px;
	background-color: #D9E6C3;
	border: 1px solid #77AB13;
    color: #000;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.successbox span.title {
    color: #69990F;
}
.errorbox {
	background-image: url('../../images/error.png');
	background-repeat: no-repeat;
	background-position: 5px;
	margin: 10px 5px 10px 5px;
	padding: 6px 5px 6px 45px;
    min-height: 28px;
	background-color: #F2D4CE;
	border: 1px solid #AE432E;
    color: #cc0000;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.errorbox span.title {
    color: #AE432E;
}
.contentbox {
	text-align: center;
	background-color: #f7f7f7;
	border: 1px dashed #cccccc;
	padding: 10px;
}
.invoicetooltip {
	border: 1px solid #F0EADE;
    background-color: #F3F4EC;
	color: #000000;
	padding: 5px;
	z-index: 100;
}

.gracefulexit {
    margin: 100px auto;
    padding: 40px 25px;
    width: 60%;
    background-color: #FFF4F4;
    border: 2px dashed #FFD7D7;
    color: #000;
    font-size: 18px;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

}

/* --------------------------------------------------------------
   TEXT COLORS
-------------------------------------------------------------- */

.textblack {
	color: #000000;
}

.textblue {
    color: #224488;
}

.textgreen {
	color: #779500;
}

.textgrey {
	color: #888888;
}

.textgold {
    color: #ffbb55;
}

.textorange {
	color: #ff6600;
}

.textred {
	color: #cc0000;
}

/* --------------------------------------------------------------
   STATUS LABELS
-------------------------------------------------------------- */

.label {
    padding: 1px 3px 2px;
    background-color: #BFBFBF;
    font-size: 10px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.label.pending, .label.collections {
    background-color: #F89406;
}
.label.active, .label.paid {
    background-color: #46A546;
}
.label.suspended, .label.expired, .label.refunded {
    background-color: #0768B8;
}
.label.terminated, .label.closed, .label.unpaid {
    background-color: #C43C35;
}
.label.cancelled {
    background-color: #BFBFBF;
}
.label.fraud {
    background-color: #000;
}

/* --------------------------------------------------------------
   DATE PICKER
-------------------------------------------------------------- */

.datepick {
    width: 75px;
}
.datepick + img {
    position: relative;
    left: 5px;
    top: 1px;
}

/* --------------------------------------------------------------
   ADMIN HOMEPAGE
-------------------------------------------------------------- */

.homecolumn {
    float: left;
    width: 50%;
    padding-bottom: 100px;
}

.homewidget {
    margin: 5px;
    border: 1px solid #ccc;
    padding:2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.widget-header {
    padding:5px;
    background-color:#efefef;
    font-weight:bold;
}

.widget-header .ui-icon {
    float: right;
}

.widget-content {
    padding: 5px;
    overflow: auto;
}

.widget-content .label {
    padding-right: 5px;
    text-align: right;
}

.ui-sortable-placeholder {
    border: 1px dotted black;
    visibility: visible !important;
    height: 50px !important;
}

.ui-sortable-placeholder * {
    visibility: hidden;
}

/* --------------------------------------------------------------
   CLIENT SUMMARY PAGE
-------------------------------------------------------------- */

.clientssummarybox {
    background-color: #EEEEEE;
    padding: 10px;
    margin: 10px 2px 5px 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.clientssummarybox .title {
    text-align: center;
    padding: 0 0 10px 0;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #660;
}
.clientssummarybox ul {
    list-style-type: none;
    margin: 10px 0 0 0;
}
.clientssummarybox ul li {
    margin: 0 0 2px -20px;
}
table.clientssummarystats {
    width: 100%;
    border: 4px solid #fff;
}
table.clientssummarystats td {
    background-color: #fff;
    font-size: 11px;
    padding-left: 4px;
    border-bottom: 1px dashed #ccc;
}
table.clientssummarystats tr.altrow td {
    background-color: #fff;
    padding-left: 4px;
    border-bottom: 1px dashed #ccc;
}
.clientsummaryactions {
    float:right;
    margin: 0;
    padding:4px 15px;
    border:1px dashed #BEDCF3;
    background-color:#EDF5FC;
    font-size:14px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#clientsimportantnotes {
    clear: both;
    overflow: auto;
    margin: 15px 0 10px 0;
    padding: 5px 5px 0 5px;
    max-height: 150px;
    background-color: #fff;
    border: 2px dashed #E0E0E0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

/* --------------------------------------------------------------
   SUPPORT TICKETS
-------------------------------------------------------------- */

.ticketlastreply {
    float: right;
    margin: -45px 0 0 0;
    padding: 5px 15px;
    font-size: 11px;
    background-color: #333;
    color: #efefef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

#ticketreplies .reply {
    margin: 0 0 10px 0;
    padding: 0;
    border: 1px solid #C5D8EB;
    background-color: #F7FAFD;
    box-shadow: 0 0 5px #CEE0F0;
}

#ticketreplies .staffreply {
    margin: 0 0 10px 0;
    padding: 0;
    border: 1px solid #EFE9D3;
    background-color: #FAF8F1;
    box-shadow: 0 0 5px #F3EFDE;
}

#ticketreplies .reply .leftcol, #ticketreplies .staffreply .leftcol {
    float: left;
    width: 200px;
}

#ticketreplies .reply .rightcol, #ticketreplies .staffreply .rightcol {
    margin-left: 200px;
    border-left: 1px solid #e5e5e5;
    min-height: 150px;
}

#ticketreplies .submitter {
    text-align: right;
    padding: 15px 20px;
}

#ticketreplies .submitter .name {
    font-weight: bold;
}

#ticketreplies .submitter .title {
    font-size: 11px;
    font-style: italic;
    color: #8BB1D8;
    padding: 4px 12px;
}

#ticketreplies .tools {
    margin: 0;
    padding: 0 20px;
    text-align: right;
}

#ticketreplies .postedon {
    padding: 10px 12px 0 12px;
    font-size: 11px;
    color: #999;
}

#ticketreplies .quoteicon {
    float: right;
    padding: 10px;
}

#ticketreplies .msgwrap {
    padding: 10px;
}

#ticketreplies .message {
    padding: 0;
    color: #000;
}

.ticketstaffnotes {
    margin: 0 0 5px 0;
    padding: 0;
    background-color: #FFFFE6;
    border: 1px dashed #DACD83;
}

.ticketstaffnotes table {
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px dashed #DACD83;
}

.ticketstaffnotes table td {
    padding: 2px 10px;
    font-weight: bold;
    color: #695F1F;
}

.ticketstaffnotes div {
    margin: 0;
    padding: 8px 10px;
}

.ticketflag {
    background-color: #FFFFCC;
}

.ticketattachmentcontainer {
    float:left;
    padding:0 10px 10px 0;
    margin: 0;
    text-align:center;
}

.ticketattachmentthumb {
    padding:10px;
    margin:0 0 3px 0;
    background-color:#fff;
    border:1px solid #ccc;
    text-decoration: none;
}

#prerepliescontainer {
    display: none;
}

#prerepliescontainer #predefq {
    background-image: url("../../images/icons/search.png");
    background-position: 5px 3px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 2px 2px 2px 25px;
    border: 1px solid #ccc;
}

#prerepliescontainer .box {
    margin:10px auto;
    padding:5px;
    background-color: #fff;
    border:1px solid #ccc;
    text-align:left;
    width:80%;
    min-height: 22px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    z-index: 100;
}

#sidebar .ticketheader {
    display: block;
    margin: 0;
    padding: 0 0 5px 0;
    text-align: left;
    font-weight: bold;
    color: #6A663E;
}

#sidebar .ticketinfo {
    border: 1px solid #E2E0CD;
    border-left: 0;
    border-right: 0;
    background-color: #EAE9DB;
    padding: 4px 10px;
    margin: 0 -10px 5px -10px;
}

#sidebar .ticketinfo select {
    width: auto;
    max-width: 100%;
    margin: 0;
}

#sidebar .tagcloud {
    margin: 0 0 15px 0;
    padding: 5px;
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

#sidebar .tagcloud a {
    color: #9B9B9B;
    text-decoration: none;
}

#sidebar .tagcloud a:hover {
    text-decoration: underline;
}

/* --------------------------------------------------------------
   EMAIL TEMPLATES
-------------------------------------------------------------- */

.emailtplstandard {
    float:left;
    width:28%;
    margin:10px;
    padding:10px 20px 10px 20px;
    background-color:#efefef;
}

.emailtplcustom {
    float:left;
    width:28%;
    margin:10px;
    padding:10px 20px 10px 20px;
    background-color:#fff4d5;
}

.emailtpldisabled {
    float:left;
    width:28%;
    margin:10px;
    padding:10px 20px 10px 20px;
    background-color:#ffe8e8;
}
.disabledtext {
    color:#999;
    font-style:italic;
}

/* --------------------------------------------------------------
   ADDON MODULES DIRECTORY
-------------------------------------------------------------- */

#addonscats {
    background-color:#fff;
    float:left;
    width:200px;
    padding:10px 0 0 0;
}
#addonscats .cat {
    padding:5px 10px 5px 10px;
    margin:5px 0 5px 0;
    border:2px solid #7EAADA;
    border-right:0;
    text-align:right;
    text-decoration: underline;
    cursor: hand;
    cursor: pointer;
    -moz-border-radius-topleft: 5px;
    -webkit-border-radius-topleft: 5px;
    -o-border-radius-topleft: 5px;
    border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius-bottomleft: 5px;
    -o-border-radius-bottomleft: 5px;
    border-radius-bottomleft: 5px;
}
#addonscats .cat.addonsel {
    background-color: #EBF2FA;
    color: #4081C8;
    font-weight: bold;
}
#addonslist {
    border:2px solid #7EAADA;
    padding:10px;
    height: 500px;
    overflow:auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
#addonslist .heading {
    font-family: Arial;
    font-size: 20px;
    margin: 0 0 15px 20px;
    color: #3068A7;
}
#addonslist .loading {
    text-align:center;
    font-size:16px;
    padding:60px 0 0 0;
}
#searchaddons {
    text-align: right;
    padding: 0 20px 5px 0;
}

/* --------------------------------------------------------------
   REPORTS
-------------------------------------------------------------- */

table.reportslisting {
    width: 80%;
    margin: 0 auto;
}

table.reportslisting td {
    width: 33%;
    height: 45px;
    text-align: center;
    font-size: 14px;
}

table.reportslisting td a {
    padding: 10px 50px;
    border: 2px solid #efefef;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

table.reportslisting td a:hover {
    padding: 10px 50px;
    border: 2px solid #efefef;
    background-color: #f2f2f2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

/* --------------------------------------------------------------
   ORDER SUMMARY
-------------------------------------------------------------- */

.ordersummarytitle {
    margin-left:15px;
    font-family:Arial;
    font-size:20px;
    text-align:center;
}
.ordersummaryleftcol {
    width:60%;
    min-width:600px;
}
#ordersummary {
    margin: 20px 5px 0 20px;
    padding: 0;
    border: 1px solid #B4B4B4;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 20px #000;
    -webkit-box-shadow: 0px 0px 20px #ccc;
    -o-box-shadow: 0px 0px 20px #ccc;
    box-shadow: 0px 0px 20px #ccc;
}
#ordersummary table {
    width: 100%;
}
#ordersummary tr td {
    padding: 3px 10px;
}
#ordersummary tr.item td {
    padding: 10px 10px 12px 10px;
    border-bottom: 1px dashed #B4B4B4;
}
#ordersummary div.itemtitle {
    font-size: 16px;
}
#ordersummary div.itempricing {
    text-align: right;
    font-size: 20px;
}
#ordersummary td.alnright {
    text-align: right;
}
#ordersummary tr.subtotal td {
    background-color: #FFFFDF;
    font-size: 14px;
    padding: 4px 10px;
}
#ordersummary tr.promo td {
    background-color: #FFE1E1;
    font-size: 12px;
    padding: 4px 10px;
}
#ordersummary tr.tax td {
    background-color: #E6F7FF;
    font-size: 12px;
    padding: 4px 10px;
}
#ordersummary tr.total td {
    background-color: #E7FFDA;
    font-size: 26px;
    padding: 6px 10px;
}
#ordersummary tr.recurring td {
    background-color: #FFE1E1;
    font-size: 12px;
    padding: 4px 10px;
}

/* --------------------------------------------------------------
   CHAT TRANSCRIPTS
-------------------------------------------------------------- */

div.chat div.visitor div.name, div.chat div.operator div.name {
    font-weight: bold;
}
div.chat div.visitor div.message, div.chat div.operator div.message {
    padding: 0 25px;
}

/* --------------------------------------------------------------
   ADMIN DIALOG
-------------------------------------------------------------- */

div.admindialog {
    display:none;
    margin: 0;
    width: 600px;
    background-color: #194c80;
    border: 10px solid #194c80;
    -moz-box-shadow: 5px 0px 20px #535353;
    -webkit-box-shadow: 5px 0px 20px #535353;
    -o-box-shadow: 5px 0px 20px #535353;
    box-shadow: 5px 0px 20px #535353;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    z-index:10000;
}
div.admindialog div.tabs a {
    float: left;
    display:block;
    margin: 0 0 0 10px;
    padding: 5px 20px;
	background-color: #3399ff;
    /*background-color: #2162A3;*/
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
div.admindialog div.tabs a:hover {
    background-color: #2B7DD0;
}
div.admindialog a.close {
    display:block;
    float: right;
    margin: 0;
    padding: 0 5px 2px 5px;
    color: #194c80;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
div.admindialog a.close:hover {
    color: #000;
}
div.admindialog div.content {
    margin: 0;
    padding: 0;
    min-height: 300px;
    background-color: #fff;
    border: 4px solid #efefef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
div.admindialog div.donotshow {
    margin: 0;
    padding: 8px 10px 0 10px;
    color: #fff;
    font-size: 10px;
}

/* --------------------------------------------------------------
   SERVICES
-------------------------------------------------------------- */

.moduleloginlink {
    color: #cc0000;
}
